.post-tags 
  display flex
  justify-content space-between

  .tag

    a
      text-decoration: none;
      outline: none;
      border-bottom: 1px solid #999;
      word-wrap: break-word;
      margin: 0 .2em;
      color: rgba(85,85,85,0.529)
